@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
html {
overflow-x: hidden; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.background {
    height: 100vh;
    overflow: hidden;
}
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position:absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color:#000;
    color:#fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top:0;
}
.title { 
    position:absolute;
    top:25em;
}
.nav-header {
    color: white;
}
.box {
    background-color: #04B404;
    transform: translateY(-10%);
    max-height: 0em;
    position: absolute;
    z-index: 3;
    transition: all 1s linear;
    text-align: center;
    display: none;
    overflow: hidden;
}
.js-collapse {
    display: block;
    max-height: 100em;
    width: 100%;  
}
.nav {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}
.nav ul {
    padding: 0;
}
.nav a { 
    color: white;
    text-decoration: none;
}
.nav li {
    display: inline-block;
    background-color: #04B404;
    margin: 1em;
    padding: 0;
    text-align: center;
    width: 3em;  
}
.nav li a:hover{ 
    color:black;
}
.nav li a:active{
    color: black;
}
.nav-current:visited{
    color:black;
}
.button {
    position: absolute;
    top:5%;
    right: 15%;
    width:5em;
    border: 0;
    line-height: 0;
    display: inline-block;
    text-align: center;
    transition: all .25s linear;
    margin: 1em;
    z-index: 4;
}
.button a:hover {
    transition: all .5s linear;
    background-color: white;
    color: black;
    opacity: .5;
}
.banner {
    overflow: hidden;
    padding:10em;
    background: no-repeat;
    background-image: url(../images/background-1.png);
    background-size: 138em;
    background-position: center;
    position: relative;
    height:42em;
    top: -1em;
}
.banner-header {
    overflow:hidden;
    position: relative;
    left: -8em;
    top:5em;
    width:18em;
    -webkit-animation: header 4s ease-in-out infinite alternate;
    animation: header 4s ease-in-out infinite alternate;
}
@-webkit-keyframes header {    
    0% {
        tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
@keyframes header {  
    0% {
        tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
.down {
    background: none;
    border: 2px;
    width: 3em;
    position: relative;
    top: 12em;
}
.arrow {
    width: 3em;
}
.down2 {
    background: none;
    border: 2px;
    width: 3em;
    position: relative;
    top: -1em;
}
.arrow2 {
    width: 3em;
}
.cloud-1 { 
    position: relative;
    left:-41em;
    top:-14em;
    width: 5.5em;
   -webkit-animation: cloud1 7s ease-in-out infinite alternate;
    animation: cloud1 7s ease-in-out infinite alternate;
}
@-webkit-keyframes cloud1 {   
    0% {
     left:-41em;  
    }
    100% {
     left:-45em;  
    }
}
@keyframes cloud1 {   
    0% {
     left:-41em;  
    }
    100% {
     left:-45em;  
    }
}
.cloud-2 { 
    position: relative;
    left:10em;
    top:-12em;
    width: 5.5em; 
    -webkit-animation: cloud2 7s ease-in-out infinite alternate;
    animation: cloud2 7s ease-in-out infinite alternate;
}
@-webkit-keyframes cloud2 {
    
    0% {
     left:1em;  
    }

    100% {
     left:6em;  
    }
}
@keyframes cloud2 {
    
    0% {
     left:6em;  
    }

    100% {
     left:1em;  
    }
}
.gallery {
    overflow: hidden;
    background: no-repeat;
    background-image: url(../images/background-2.png);
    background-size: 120em;
    background-position: center;
    position: relative;
    padding: 5em;
    top:-3em;
}
.images {
    display: inline-block;
    width: 50em;
    padding:10em;
    margin: none;
    position: relative;
    top:7em;
    left:-5em;
    background-size: 20em;
    background-position: center;
    background: no-repeat;
}
.scroll {
    width:5em;
}

.js-btn-gallery1 {
    background-image: url(../images/image-1.png);
}
.js-btn-gallery2 {
    background-image: url(../images/image-2.png);

}
.js-btn-gallery3 {
    background-image: url(../images/image-3.png);
}
.gallery-2 {
    display: none;
    width: 70em;
    padding: none;
    margin: none;
    position: relative;
    top:10em;
    left:3em;
}
.gallery-3 {
    display: none;
    width: 70em;
    padding: none;
    margin: none;
}
.svg {
    position: relative;
    top:15em;
    left:3em;
}
.ghost {
    width:5em;
    position: relative;
    text-align: center;
    top:-39em;
    left: -6em;
}
.js-ghost{ 
    -webkit-animation: ghost 1s linear;

    animation: ghost 1s linear;
}
@-webkit-keyframes ghost {
    0% {
        top:-39em;
        left: -6em;
    }
    50% {
        top:-37em;
        left: -6em
    }
    100% { 
        top:-39em;
        left: -6em
    }
}
@keyframes ghost {
    0% {
        top:-39em;
        left: -6em;
    }
    50% {
        top:-37em;
        left: -6em;
    }
    100% { 
        top:-39em;
        left: -6em;
    }
}
.ghost:hover #mouth {
    -webkit-animation: oooh 1s ease-in-out infinite alternate;
    animation: oooh 1s ease-in-out infinite alternate;
}
@-webkit-keyframes oooh {
    
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
@keyframes oooh {
    0% {
     tranform: scale(1);   
    }

    100% {
        transform:  scale(1.1);
    }
}
.ghost2 {
    width:5em;
    position: relative;
    text-align: center;
    top:-24em;
    left:20em;
}
.js-ghost2{ 
    -webkit-animation: ghost2 1s linear;
    animation: ghost2 1s linear;
}
@-webkit-keyframes ghost2 {
    0% {
        top:-29em;
        left: 64em;
    }
    50% {
        top:-33em;
        left: 63em
    }
    100% { 
        top:-29em;
        left: 64em
    }
}
@keyframes ghost2 {
     0% {
        top:-29em;
        left: 64em;
    }
    50% {
        top:-33em;
        left: 63em
    }
    100% { 
        top:-29em;
        left: 64em
    }
}
.ghost2:hover #mouth2 {
    -webkit-animation: oooh2 1s ease-in-out infinite alternate;
    animation: oooh2 1s ease-in-out infinite alternate;
}
@-webkit-keyframes oooh2 {  
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
@keyframes oooh2 {
    0% {
     tranform: scale(1);   
    }

    100% {
        transform:  scale(1.1);
    }
}
.menu { 
    overflow: hidden;
    position: relative;
    top: 12em;
    left:1em;
    width: 20em;
}
.burger {
    width: 3em;
    margin: 0;
    background: none;
}
.btn-gallery-1 {
    background: none;
    border: none;
    position: relative;
    width: 6em;
}
.btn-gallery-2 {
    background: none;
    border: none;
    position: relative;
    width: 6em;

}
.btn-gallery-3 {
    background: none;
    border: none;
    position: relative;
    width: 6em;
}
.js-mouth-active #mouth {
    opacity: 1;
}
.js-ghost-active #ghost {
    opacity: 1;
}
.contact {
    overflow: hidden;
    width:100%;
    padding: 6em;
    background: no-repeat;
    background-image: url(../images/background-3.png);
    background-size: 85em;
    background-position: center;
    position: relative;
    top:-4em;
    color: white;
    text-align: center;
}
.me {
    position: relative;
    top: 3em;
    left:98%;
    width: 5em;
    display: none;
}
@media only screen and (min-width: 25em) {
.button {
    position: absolute;
    top:5%;
    right: 5%;
    width: 4em;
    border: 0;
    line-height: 0;
    display: inline-block;
    text-align: center;
    transition: all .25s linear;
    margin: 1em;
    z-index: 20;
}
.button a:hover {
    transition: all .5s linear;
    background-color: #04B404;
    color: black;
}
.down {
    background: none;
    border: 2px;
    width: 3em;
    position: relative;
    top: 2em;
}
.ghost2 {
    width:5em;
    position: relative;
    text-align: center;
    top:-23em;
    left:9em;
}
.js-ghost2{ 
    -webkit-animation: ghost 1s linear;
    animation: ghost2 1s linear;
}
@-webkit-keyframes ghost2 {
    0% {
        top:-23em;
        left:9em;
    }
    50% {
        top:-26em;
        left:9em;
    }
    100% { 
        top:-23em;
        left:9em;
    }
}
@keyframes ghost2 {
     0% {
        top:-23em;
        left:9em;
    }
    50% {
        top:-26em;
        left:9em;
    }
    100% { 
        top:-23em;
        left:9em;
    }
}
.ghost2:hover #mouth2 {
    -webkit-animation: oooh2 1s ease-in-out infinite alternate;
    animation: oooh2 1s ease-in-out infinite alternate;
}
@-webkit-keyframes oooh2 {  
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);}
}
@keyframes oooh2 {
    0% {
     tranform: scale(1);   
    }

    100% {
        transform:  scale(1.1);}
}
.images {
    display: inline-block;
    width: 50em;
    padding:10em;
    margin: none;
    position: relative;
    top:5em;
    left:1em;
    background-position: center;
    background: no-repeat;
}
.js-btn-gallery1 {
    background-image: url(../images/image-1.png);
    left:2em;

}
.js-btn-gallery2 {
    background-image: url(../images/image-2.png);
}
.js-btn-gallery3 {
    background-image: url(../images/image-3.png);
}
}
@media only screen and (min-width: 38em) {
.button-2 {
    position: relative;
    top: 38em;
    left:21em;
    border-radius: 5%;
    border-width: 1px;
    border-color:white; 
    color: black;
    background-color: white;
    width:18em;
    height: 10em;
}
button a:hover {
    transition: all .5s linear;
    background-color: #2A0C59;
    color: black;
}
.banner {
    overflow: hidden;
    padding:12.5em;
    background: no-repeat;
    background-image: url(../images/background-1.png);
    background-size: 122em;
    background-position: center;
    height: 37em;
}
.banner-header {
    overflow:hidden;
    position: relative;
    left: 1em;
    top:0em;
    width:30em;
    -webkit-animation: header 4s ease-in-out infinite alternate;
    animation: header 4s ease-in-out infinite alternate;
}
.down {
    background: none;
    border: 2px;
    width: 3em;
    position: relative;
    top: 2em;
    left:4em;
}
.images {
    display: inline-block;
    width: 40em;
    padding:10em;
    margin: none;
    position: relative;
    top:5em;
    left:4em;
    background-size: 100%;
    background-position: center;
    background-image: no-repeat;
}
.js-btn-gallery1 {
    background-image: url(../images/gallery-1.png);
}
.js-btn-gallery2 {
    background-image: url(../images/gallery-2.png);
}
.js-btn-gallery3 {
    background-image: url(../images/gallery-3.png);
}
.cloud-1 { 
    position: relative;
    left:9em;
    top:-9em;
    width: 5.5em;
   -webkit-animation: cloud1 7s ease-in-out infinite alternate;
    animation: cloud1 7s ease-in-out infinite alternate;
}
@-webkit-keyframes cloud1 {   
    0% {
     left:-13em;  
    }
    100% {
     left:-9em;  
}}
@keyframes cloud1 {
   
    0% {
     left:-13em;  
    }
    100% {
     left:-9em;  
}
}
.cloud-2 { 
    position: relative;
    left: 5em;
    top:-7em;
    width: 5.5em; 
    -webkit-animation: cloud2 7s ease-in-out infinite alternate;
    animation: cloud2 7s ease-in-out infinite alternate;
}
@-webkit-keyframes cloud2 {  
    0% {
     left:30em;  
    }
    100% {
     left:35em;  
}}
@keyframes cloud2 {
    0% {
     left:30em;  
    }
    100% {
     left:35em;  
}
}
.menu { 
    overflow: hidden;
    position: relative;
    width: 40em;
    top: 11em;
    left: 40%;
}
.ghost2 {
    width:5em;
    position: relative;
    text-align: center;
    top:-23em;
    left:39em;
}
.js-ghost2{ 
    -webkit-animation: ghost 1s linear;
    animation: ghost2 1s linear;
}
@-webkit-keyframes ghost2 {
    0% {
        top:-23em;
        left:39em;
    }
    50% {
        top:-26em;
        left: 42em
    }
    100% { 
        top:-23em;
        left:39em;
    }
}
@keyframes ghost2 {
    0% {
        top:-23em;
        left:39em;
    }
    50% {
        top:-26em;
        left: 42em
    }
    100% { 
        top:-23em;
        left:39em;
    }
}
.ghost2:hover #mouth2 {
    -webkit-animation: oooh2 1s ease-in-out infinite alternate;
    animation: oooh2 1s ease-in-out infinite alternate;
}
@-webkit-keyframes oooh2 {  
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);}
}
@keyframes oooh2 {
    0% {
     tranform: scale(1);   
    }

    100% {
        transform:  scale(1.1);
    }
}
}
@media only screen and (min-width: 60em) {    
.button-2 {
    position: relative;
    top: 38em;
    left:21em;
    border-radius: 5%;
    border-width: 1px;
    border-color:white; 
    color: black;
    background-color: white;
    width:18em;
    height: 10em;
}
.nav li {
    display: inline-block;
    background-color: #04B404;
    margin: 1em;
    padding: 0;
    text-align: center;
    width: 2em;
    
}
.nav li a:hover{ 
    color:black;
}
.nav li a:active{
    color: black;
}
.nav-current:visited{
    color:black;
}
.button a:hover {
    transition: all .5s linear;
    background-color: blue;
    color: black;
}
.down {
    background: none;
    border: 2px;
    width: 3em;
    position: relative;
    top: 2em;
    left:-20em;
}
.banner {
    overflow: hidden;
    padding:13em;
    background: no-repeat;
    background-image: url(../images/background-1.png);
    background-size: 119em;
    background-position: center;
    height:36em;
}
.banner-header {
    overflow:hidden;
    position: relative;
    left: 17%;
    top:-5em;
    -webkit-animation: header 4s ease-in-out infinite alternate;
    animation: header 4s ease-in-out infinite alternate;
}
@-webkit-keyframes header {  
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
@keyframes header {  
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
.me {
    position: relative;
    top: 3em;
    left:98%;
    width: 5em;
    display: block;
}
.gallery {
    overflow: hidden;
    padding:2em;
    background: no-repeat;
    background-image: url(../images/background-2.png);
    background-size: 120em;
    background-position: center;
    position: relative;
}
.cloud-1 { 
    position: relative;
    left:9em;
    top:-9em;
    width: 5.5em;
   -webkit-animation: cloud1 7s ease-in-out infinite alternate;
    animation: cloud1 7s ease-in-out infinite alternate;
}
@-webkit-keyframes cloud1 { 
    0% {
     left:-33em;  
    }
    100% {
     left:-39em;  
    }
}
@keyframes cloud1 {  
    0% {
     left:-33em;  
    }
    100% {
     left:-39em;  
    }
}
.cloud-2 { 
    position: relative;
    left: 5em;
    top:-7em;
    width: 5.5em; 
    -webkit-animation: cloud2 7s ease-in-out infinite alternate;
    animation: cloud2 7s ease-in-out infinite alternate;
}
@-webkit-keyframes cloud2 {  
    0% {
     left:18em;  
    }
    100% {
     left:24em;  
    }
}
@keyframes cloud2 {
    
    0% {
     left:18em;  
    }
    100% {
     left:24em;  
    }
}
.images {
    display: inline-block;
    width: 50em;
    padding:10em;
    margin: none;
    position: relative;
    top:10em;
    left:15em;
    background-size: 100%;
    background-position: center;
    background-image: no-repeat;
}
.js-btn-gallery1 {
    background-image: url(../images/gallery-1.png);
}
.js-btn-gallery2 {
    background-image: url(../images/gallery-2.png);
}
.js-btn-gallery3 {
    background-image: url(../images/gallery-3.png);
}
.banner-header {
    overflow:hidden;
    position: relative;
    left: 22%;
    top:-5em;
    -webkit-animation: header 4s ease-in-out infinite alternate;
    animation: header 4s ease-in-out infinite alternate;
}
@-webkit-keyframes header {    
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
@keyframes header {    
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
.menu { 
    overflow: hidden;
    position: relative;
    width: 40em;
    top: 15.5em;
    left: 43%;
}
.ghost2 {
    width:5em;
    position: relative;
    text-align: center;
    top:-29em;
    left:64em;
}
.js-ghost2{ 
    -webkit-animation: ghost 1s linear;
    animation: ghost2 1s linear;
}
@-webkit-keyframes ghost2 {
    0% {
        top:-29em;
        left: 64em;
    }
    50% {
        top:-33em;
        left: 63em
    }
    100% { 
        top:-29em;
        left: 64em
    }
}
@keyframes ghost2 {
     0% {
        top:-29em;
        left: 64em;
    }
    50% {
        top:-33em;
        left: 63em
    }
    100% { 
        top:-29em;
        left: 64em
    }
}
.ghost2:hover #mouth2 {
    -webkit-animation: oooh2 1s ease-in-out infinite alternate;
    animation: oooh2 1s ease-in-out infinite alternate;
}
@-webkit-keyframes oooh2 {  
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
@keyframes oooh2 {
    0% {
     tranform: scale(1);   
    }

    100% {
        transform:  scale(1.1);
    }
}
.ghost {
    width:5em;
    position: relative;
    text-align: center;
    top:-39em;
    left: 6em;
}
.js-ghost{ 
    -webkit-animation: ghost 1s linear;
    animation: ghost 1s linear;
}
@-webkit-keyframes ghost {
    0% {
        top:-39em;
        left: 6em;
    }
    50% {
        top:-35em;
        left: 7em;
    }
    100% { 
        top:-39em;
        left: 6em;
    }
}
@keyframes ghost {
     0% {
        top:-39em;
        left: 6em;
    }
    50% {
        top:-35em;
        left: 7em;
    }
    100% { 
        top:-39em;
        left: 6em;
    }
}
.ghost:hover #mouth {
    -webkit-animation: oooh 1s ease-in-out infinite alternate;
    animation: oooh 1s ease-in-out infinite alternate;
}
@-webkit-keyframes oooh {   
    0% {
     tranform: scale(1);   
    }
    100% {
        transform:  scale(1.1);
    }
}
@keyframes oooh {
    0% {
     tranform: scale(1);   
    }

    100% {
        transform:  scale(1.1);
    }
    }
}